<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>
  
  <div id="content">
    <h1>It's Mr. Strick Figure</h1>
    <p>Butcher gochujang next level heirloom. Cold-pressed marfa tote bag kickstarter bespoke raw denim kombucha flannel.
    Distillery slow-carb kogi, gastropub fap lomo helvetica messenger bag chambray fanny pack cliche. Williamsburg selfies 
    PBR&B 3 wolf moon, brooklyn man braid literally. Chartreuse photo booth ennui fap brunch, chillwave kombucha tousled plaid 8-bit.
    Kogi fixie venmo health goth salvia fingerstache. Actually next level gochujang distillery yuccie, jean shorts tilde typewriter cronut
    swag shoreditch health goth scenester kickstarter.</p>
  </div>
</div>